body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul {
  list-style: none;
}

#updateBtn {
  display: none;
}

.card img {
  height: 200px;
  object-fit: cover;
}
